.dark-mode {
    background-color: #044e52;
    color: #ffffff;
  }
  
  .dark-mode .nav {
    background-color: #525050;
  }
  
  .dark-mode .card {
    background-color: #5a4c28;
    color: #ffffff;
  }
  
  .dark-mode .btn {
    background-color: #6d5e39;
    color: #ffffff;
  }

  .dark