/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.sagegreen {
    background-color: rgb(75, 151, 123);
}

/* main {
    position: relative;
} */

.favorites-element {
    /* position: absolute; */
    /* top: 50%; */
}

.hardiness-map {
max-width: 1000px;
max-height: 1000px;
}